.main {
  opacity: 0.75;
  grid-column: 2 / 6;
  grid-row: 2 / 7;
  background-image: url(./img/asia.jpg);
}

@media (max-width: 800px) {
  .main {
    grid-column: 1 / 5;
  }
}

.text__inside {
  position: absolute;
}

.title h3 {
  font-size: 50pt;
  margin: 30px;
  padding-top: 3px;
  color: rgb(245, 223, 189);
}

.text {
  width: 530px;
  text-align: justify;
  vertical-align: middle;
  font-size: 14pt;
  line-height: 2em;
}
