.main {
  opacity: 0.75;
  grid-column: 2 / 6;
  grid-row: 2 / 7;
  /* background-image: url(./img/asia.jpg); */
  background-color: #57756a;
}

@media (max-width: 800px) {
  .main {
    grid-column: 1 / 4;
    margin-left: 3px;
  }
}

.title {
  text-align: center;
}

.title h3 {
  font-size: 50pt;
  margin: 30px;
  padding-top: 3px;
  color: rgb(245, 223, 189);
}

.text {
  width: 530px;
  text-align: justify;
  vertical-align: middle;
  font-size: 14pt;
  line-height: 2em;
  margin: 0 auto;
  color: rgb(245, 223, 189);
}
