@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.createIdeasBlock {
  height: 210px;
  background-color: #57756a;
  border: 1px solid #365248;
  text-align: center;
  grid-column: 3 / 5;
  grid-row: 7 / 20;
  position: relative;
  margin-top: 20px;
}

.clickButton {
  color: aliceblue;
  margin-top: 100px;
  margin: 0 auto;
  margin-top: 10px;
}

.ideaState {
  color: beige;
  text-align: center;
}

span {
  color: aliceblue;
}

.ideas {
  height: 125px;
  text-align: center;
  padding: px;
  margin: 10px;
  margin-left: 12px;
}

.countIdeas {
  color: black;
  position: absolute;
  left: 10px;
  text-align: center;
}

.clickButton button {
  border: none;
  font-size: 15px;
  color: rgb(255, 248, 239);
  background-color: #a9b2a2;
  size: 15pt;
  width: 200px;
  height: 30px;
  outline: none;
}

.clickButton button:hover {
  background-color: #918270;
  transition: 1s;
  border: 1px solid #7c6f60 transparent;
}

.ideas input:focus {
  background-color: rgb(247, 243, 238);
  transition: 1s;
}

.ideas input:hover {
  background-color: rgb(255, 248, 239);
  transition: 1s;
}

@media (max-width: 800px) {
  .createIdeasBlock {
    grid-column: 1 / 4;
    margin-left: 3px;
    margin-top: 15px;
  }
}

.createIdeas {
  background-color: #57756a;
  border: 1px solid #365248;
  text-align: center;
  grid-column: 3 / 5;
  grid-row: 7 / 20;
  position: relative;
  margin-bottom: 10px;
}

.ideaState {
  margin-top: 15px;
  color: beige;
  text-align: center;
}

.ideasBlock {
  text-align: center;
  padding: px;
  margin: 5px;
}

.countIdeas {
  color: black;
  position: absolute;
  left: 10px;
  text-align: center;
}

.ideas input {
  width: 370px;
  height: 100px;
  color: rgb(1, 79, 77);
  background-color: rgb(1, 79, 77);
  font-family: 'Montserrat', sans-serif;
  size: 15pt;
  outline: none;
  text-align: center;
  margin-right: 5px;
}

.idea {
  margin-top: 20px;
  height: 100px;
  margin: 15px;
  border: 1px solid;
  background-color: rgb(253, 212, 165);
}

.idea div {
  width: 100px;
  margin: 0 auto;
  top: 90px;
  position: absolute;
  left: 140px;
}