.container {
  /* центрировала весь сайт с помощью margin: 0 auto */
  /* не работает, если не задана ширина и высота */
  margin: 0 auto;
  height: 70px;
  width: 1365px;
  padding-top: 15px;
}

.header {
  height: 100px;
  width: 1400px;
  position: fixed; /* зафиксировала шапку при скролинге */
  z-index: 101; /* позволяет скролить страницу под шапку, а не поверх шапки */
  background-color: rgb(139,168,198);
  opacity: 0.75;
}

/* .header img {
  height: 70px;
  width: 1365px;
  object-fit: cover;
} */