.top a {
  display: inline-block;
  padding: 8px;
  margin-right: 10px;
  text-align: center;
  background-color: #a9b2a2;
  border-radius: 3px;
  color: rgb(245, 223, 189);
  font-size: 10pt;
  border: none;
  text-decoration: none;
}

.top a:hover {
  background-color: #918270;
  transition: 1s;
  border: 1px solid #7c6f60 transparent;
}