.login button {
  display: inline-block;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  background-color: #57756a;
  border-radius: 3px;
  font-size: 10pt;
  border: none;
  color: #c7b39b;
  font-size: 13pt;
}

.login button:hover {
  color: #e0dbd5;
  transition: 1s;
}