.App {
  text-align: center;
  background: url(winter.jpg);
  background-size: cover;
  height: 850px;
  /* чтобы при уменьшении размера страницы через ctrl вёрстка не съезжала, но к сожалению картинка не уменьшается */
  /* на сайте, копию которого делаю, та же самая проблема */
  /* background-position: center center;  */
  background-attachment: fixed; /* изображение остаётся на месте даже при скролинге страницы */
}
